.help-panel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  height: var(--topbar-height);
  background-color: var(--color-primary-dark);
  border-top: 1px solid var(--color-primary-light);
  color: var(--color-text-light);
  /* font-family: var(--font-main); */
  font-size: 0.7rem;
}

.help-panel__mode {
  letter-spacing: 0.02em;
}
